@font-face {
    font-family: titles;
    src: url(../media/fonts/Quintessential-Regular.ttf);
}

@font-face {
    font-family: titlesAlt;
    src: url(../media/fonts/RubikVinyl-Regular.ttf);
}

@font-face {
    font-family: titlesAlt;
    src: url(../media/fonts/Baskervville-Regular.ttf);
}

@font-face {
    font-family: titlesAltBold;
    src: url(../media/fonts/Baskervville-Bold.ttf);
}

@font-face {
    font-family: texts;
    src: url(../media/fonts/Montserrat-Regular.ttf);
}

header {
    background-color: beige;
    border-bottom: solid 1px black;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    height: 70px;
}

#navigationleft {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    gap: 30px;
    align-items: center;
}

#navigationright {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 30px;
}

.navigationButton {
    display: flex;
    align-items: center;
}

#navigationleft p {
    font-family: titles;
    font-size: bold;
    font-size: 15pt;
}

#navigationright p {
    font-family: texts;
    font-size: 10pt;
}

#navigationright p:hover {
    font-family: texts;
    cursor: pointer;
    font-weight: bold;
    font-size: 10pt;
}

.movingLogo {
    width: 50px;
}

.logo {
    width: 50px;
}

@keyframes movingLogo {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(50deg);
    }

    80% {
        transform: rotate(-50deg);
    }

    120% {
        transform: rotate(0deg);
    }
}

.movingLogo {
    animation: movingLogo 5s ease-in-out infinite;
}