main {
    display: flex;
}

#leftPanel {
    width: 30%;
    margin-left: 50px;
    margin-top: 10px;
}

#rightPanel {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.descriptionElement {
    border-left: solid 1px rgb(131, 52, 24);
    padding-left: 10px;
}