main {
    display: block;
}

.highlight{
    background-color: rgba(94, 196, 255, 0.5);
}

.endpointElement {
    margin: 10px 20px;
    padding: 10px;
    width: 30%;
}

.descriptionElement {
    border-left: solid 1px rgb(131, 52, 24);
    margin: 10px 20px;
    padding: 10px;
    width: 50%;
    text-align: justify;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;
}

#centralPanel {
    display: flex;
    flex-direction: column;
}

#element {
    display: flex;
}