main {
    display: block;
}

#titles {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.titleLeft {
    width: 40%;
}

.titleRight {
    width: 70%;
}

.endpointElement {
    margin: 10px 20px;
    padding: 10px;
    width: 30%;
}

.descriptionElement {
    border-left: solid 1px rgb(131, 52, 24);
    margin: 10px 20px;
    padding: 10px;
    width: 50%;
}

#centralPanel {
    display: flex;
    flex-direction: column;
}

#element {
    display: flex;
}