:root {
    --right-margin: 50px;
}

header {
    width: 100%;
    text-align: right;
}

nav {
    display: inline-flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    margin-right: var(--right-margin);
}