:root {
    --right-margin: 50px;
}

@font-face {
    font-family: texts;
    src: url(../fonts/Forum-Regular.ttf);
}

header {
    width: 100%;
    text-align: right;
}

nav {
    display: inline-flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    margin-right: var(--right-margin);
}

main {
    display: flex;
    justify-content: center;
}

#content {
    width: 100px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
    padding: 20px;
    text-align: right;
}

* {
    font-family: texts;
}

div {
    margin: 3px;
}