:root {
    --right-margin: 50px;
}

@font-face {
    font-family: texts;
    src: url(../fonts/Forum-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
}

#title {
    text-align: center;
    background-color: aquamarine;
    font-style: italic;
    border-radius: 10px 10px 0px 0px;
}

#content {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#contentDuo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#contentSimple {
    text-align: center;
    display: flex;
    justify-content: center;
}

#temperature,
#precipitation {
    width: 100px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    background-color: brown;
    text-align: right;
}

#weatherCode {
    width: 74%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    background-color: brown;
}